* {
  padding: 0%;
  margin: 0%;
}
body {
  font-family: "Urbanist", Georgia, "Times New Roman", Times, serif;
}
.hero-img {
  background-image: url("./assets/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
